header {
  margin: 10px 0;
  padding: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

header div {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

header h1 {
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 6px;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  z-index: -1;
  text-shadow: 3px 3px 2px rgb(0 0 0 / 20%);
  transition: 0.1s;
}

header h2 {
  color: #4d2e0e;
  font-size: 35px;
  font-family: "Lobster", cursive;
  font-weight: lighter;
  z-index: 0;
  text-shadow: 3px 3px 2px rgb(0 0 0 / 12%);
  transition: 0.1s;
}

header > .dark > h2 {
  color: #f5b876;
}

header > .dark > h1 {
  color: #797979;
}
